* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url("images/kodaikanal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  #place {
    text-align: center;
    color: peachpuff;
  }
  
  .desc {
    background: antiquewhite;
    padding: 20px;
    color: red;
  }
  
  .things {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #top {
    display: block;
    margin-left: 3px;
    padding: 30px;
    margin: 30px auto;
    color: white;
    width: max-content;
    background-color: brown;
  }
  
  #trek-img {
    padding-left: auto;
    padding-right: auto;
  }
  .top-img {
    width: 300px;
    height: 300px;
    border: 10px solid pink;
    border-radius: 50%;
    margin: 30px;
  }
  .guide {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    color: purple;
    background: ivory;
    padding: 30px;
    margin-bottom: 30px;
 
  }
  
  .avatar {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    height: 100 px;
    width: 100px;
    border: 2px solid black;
  }
  