* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("images/kodaikanal.jpg");
    background-size: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#place {
    text-align: center;
    color:peachpuff;
}

.desc {
    background: antiquewhite;
    padding: 20px;
    color: palevioletred
}

.things {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top {
    display: block;
    margin: 3px;
    color:brown
}

#trek-img {
    width: 300px; height: 300px;
    border: 10px solid pink;
    border-radius: 50%;
    padding-left: auto;
    padding-right: auto;
}


#camp-img {
    width: 300px; height: 300px;
    border: 10px solid pink;
    border-radius: 50%;
}

#hike-img {
    width: 300px; height: 300px;
    border: 10px solid pink;
    border-radius: 50%;
}

.guide {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: ivory;
    padding-left: auto;
    padding-right: auto;
    width: 300px;
    height: 300px;
}

.avatar {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    height:100 px;
    width: 100px;
    border: 2px solid black;
}
