* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("images/kodaikanal.jpg");
    background-size: 100%;
}

#place {
    text-align: center;
    color:peachpuff;
}

.desc {
    background: antiquewhite;
    padding: 20px;
    color: palevioletred
}

